

  .dropbox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .dropzone {
    border: 5px dashed red;
    border: 5px dashed rgb(168, 168, 168);
    width: 400px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    color: #a5a5a5;
    font-weight: 500;
  }

  .dropzone--over {
    border: 5px solid green;
  }
  .dropzone--error {
    border: 5px solid red;
  }

  .dropzone--thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #a5a5a5;
    background-size: cover;
    position: relative;
  }

  .dropzone--thumbnail::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background-color: rgba(0, 0, 0, .75);
    font-size: 14px;
    text-align: center;
  }

  .dropzoneform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dropzone--input {
    display: none;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .dropboxbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
  }

  #uploadMatchesButton {
    height: 60px;
    width: 50%;

    text-align: center;
  }

  #uploadInput {
    width: 700px;
    border: 2px solid rgb(222, 226, 230);
    border-radius: 6px;
  }

  #JSONinput {
    display: flex;
    justify-content: center;
  }

  .list {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  #listComponent {
    width: 600px;
    text-align: center;
  }

  .header {
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    color: Black;
    position: fixed;
    top: 0;
    text-align: center;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .link:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
  }