
body {
  overflow-x: hidden;
}
  .dropbox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .dropzone {
    border: 5px dashed red;
    border: 5px dashed rgb(168, 168, 168);
    width: 400px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    color: #a5a5a5;
    font-weight: 500;
  }

  .dropzone--over {
    border: 5px solid green;
  }
  .dropzone--error {
    border: 5px solid red;
  }

  .dropzone--thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #a5a5a5;
    background-size: cover;
    position: relative;
  }

  .dropzone--thumbnail::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background-color: rgba(0, 0, 0, .75);
    font-size: 14px;
    text-align: center;
  }

  .dropzoneform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dropzone--input {
    display: none;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .dropboxbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
  }

  #uploadMatchesButton {
    height: 60px;
    width: 50%;

    text-align: center;
  }

  #uploadInput {
    width: 700px;
    border: 2px solid rgb(222, 226, 230);
    border-radius: 6px;
  }

  #JSONinput {
    display: flex;
    justify-content: center;
  }

  .list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  #listComponent {
    width: 600px;
    text-align: center;
  }

  .header {
    display: flex;
    padding-top: 1vh;
    width: 100%;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    color: Black;
    position: fixed;
    top: 0;
    text-align: center;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .link:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
  }

  .analysis {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
  }

  .analysis-heading {
    width: 100%;
  }

  .analysis-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .analysis-content-container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: center;
  }

  .analysis-content-text {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }

  .player1-name {
    background-color: rgb(138, 6, 6);
    color: white;
    font-weight: bolder;
  }
  
  .player2-name {
    background-color: rgb(8, 6, 138);
    color: white;
    font-weight: bolder;
  }

  .select-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }

  .select-player-container {
    display: flex;
    justify-content: center;
    width: 400px;
  }


  .select-player-1 {
    background-color: blue;
    width: 40%;
    position: relative;
    border-radius: 13px 0px 0px 13px;
    cursor: pointer;
    left: -11px;
    user-select: none;
  }

  .select-player-1::after {
    right:-23px;
    bottom: 0;
    top: 0;
    content: '';
    background-color: transparent;
    width: 0;
    height: 100%;
    border-right: 24px solid transparent;
    border-top: 24px solid blue;
    position: absolute;
  }

  .select-player-2 {
    background-color: green;
    width: 40%;
    position: relative;
    border-radius: 0px 13px 13px 0px;
    cursor: pointer;
    right: -12px;
    user-select: none;
  }

  .select-player-2::before {
    left:-23px;
    bottom: 0;
    top: 0;
    content: '';
    background-color: transparent;
    width: 0;
    height: 100%;
    border-right: 24px solid green;
    border-top: 24px solid transparent;
    position: absolute;
  }